.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

*.tlog
*.recipe
*.idb
*.pdb
*.ilk
*.obj
*.exe
*.CopyComplete

UnitTestProject/x64/Debug/UnitTestProject.vcxproj.FileListAbsolute.txt

UnitTestProject/x64/Debug/UnitTestProject.Build.CppClean.log

Sandbox/x64/
